---
import Section from "../Section.astro"

import { basics } from "@cv"
const { summary } = basics
---

<Section title="Sobre mí" id="summary">
  <p class="summary-text">
    {summary}
  </p>
</Section>
