section {
    max-width: 940px;
    margin: 0 auto 48px;

    h2 {
        margin-bottom: 20px;
        ;
    }
}

h2 {
    margin-bottom: 8px;
    font-weight: 700;
    line-height: 1.5;
    font-size: 1.5rem;
}

@media (width <=700px) {
    section {
        margin-bottom: 40px;
    }
}

#hero {

    .container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        gap: 1rem;
    }

    .info {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        padding-right: 32px;
    }

    h1 {
        font-size: 2rem;
    }

    h2 {
        color: #444;
        font-weight: 500;
        font-size: 1.1rem;
        text-wrap: balance;
    }

    img {
        aspect-ratio: 1 / 1;
        object-fit: cover;
        width: 128px;
        border-radius: 16px;
    }

    span {
        color: #666;
        display: flex;
        align-items: center;
        gap: 0.25rem;
        font-size: 0.85rem;
        letter-spacing: -0.05rem;
    }

    footer {
        color: #555;
        font-size: 0.65rem;
        display: flex;
        gap: 4px;
        margin-top: 8px;
    }

    footer a {
        color: #777;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        border: 1px solid #eee;
        padding: 4px;
        height: 32px;
        width: 32px;
        border-radius: 6px;
        transition: all 0.3s ease;
    }

    footer a:hover {
        background: #eee;
        border: 1px solid #ddd;
    }

    @media (width <=700px) {
        .container {
            flex-direction: column-reverse;
        }

        .info {
            justify-content: center;
            align-items: center;
            padding-right: 0;
            text-align: center;
        }

        figure {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        h2 {
            text-wrap: balance;
        }

        figure {
            margin: 0 auto;
        }
    }

}

#summary {
    .summary-text {
        font-size: 16px;
        color: #101010;
    }
}

#experience {
    #work_list {
        display: flex;
        flex-direction: column;
        gap: 40px;

        article a {
            color: #111;
            display: flex;
            align-items: center;
            column-gap: 8px;
        }

        article a:hover {
            text-decoration: underline;
        }

        article h2 {
            color: #222;
            font-weight: 600;
            font-size: 18px;
            line-height: normal;
            margin-bottom: 4px;
        }

        article h2 span {
            color: #101010;
            font-size: 16px;
        }

        header {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            margin-bottom: 4px;
        }

        footer {
            p {
                color: #101010;
                font-size: 14px;
            }
        }

        .work_item_image {
            display: inline-flex;
            width: 50px;
            height: auto;
        }

        .work-info {
            text-align: right;
            color: #555;

            p {
                font-size: 12px;
            }
        }

        time {
            font-size: 0.85rem;
            min-width: 102px;
        }

        #work_highlights {
            padding-left: 18px;
            list-style-type: disc;
            margin: 8px auto 4px 0px;
            color: #333;

            li {
                display: list-item;
                margin-bottom: 4px;
                line-height: normal;
                font-size: 13px;
                color: #333;
            }
        }

    }

    @media (width <=700px) {
        time {
            text-align: right;
        }

        #work_list {
            article {
                a {
                    align-items: flex-start;
                }
            }

            .work-info {
                display: none;
            }
        }
    }
}

#education {
    ul {
        display: flex;
        flex-direction: column;
        gap: 32px;
    }

    article h3 {
        font-weight: 600;
        color: #101010;
        font-size: 18px;
    }

    header {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        margin-bottom: 4px;
    }

    time {
        color: #555;
        font-size: 0.85rem;
        min-width: 102px;
    }

    .header_school {
        display: flex;
        align-items: center;
    }

    .school_item_image {
        display: inline-flex;
        width: 50px;
        height: auto;
    }

    @media (width <=700px) {
        time {
            text-align: right;
        }

        .header_school {
            align-items: flex-start;
        }

        article h3 {
            font-weight: 600;
            color: #101010;
            font-size: 16px;
        }
    }
}

#courses {
    ul {
        margin-bottom: 20px;
        display: grid;

        li {
            margin-bottom: 16px;
            ;

            article {
                header {
                    h3 {
                        font-weight: 600;
                        color: #101010;
                        font-size: 18px;
                    }

                    time {
                        color: #555;
                        font-size: 0.85rem;
                        min-width: 102px;
                        float: right;
                        text-align: right;
                    }
                }

                footer {
                    p {
                        font-size: 14px;
                    }
                }
            }

        }
    }
}

#projects {
    ul {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        gap: 1rem;
        margin-inline: -16px;
    }

    article {
        border-radius: 8px;
        border: 1px solid #f2f2f2;
        gap: 16px;
        display: flex;
        flex-direction: column;
        padding: 16px;
        height: 100%;
    }

    article header {
        flex: 1;
    }

    article h3 {
        margin-bottom: 4px;
    }

    article a {
        color: #111;
    }

    article a:hover {
        text-decoration: underline;
    }

    article p {
        font-size: 0.75rem;
        line-height: 1.2rem;
        margin-bottom: 4px;
    }

    article h3 span {
        color: rgb(0, 188, 47);
        animation-name: flicker;
        animation-duration: 3s;
        animation-timing-function: ease-in;
        animation-iteration-count: infinite;
    }

    footer {
        display: flex;
        flex-wrap: wrap;
        gap: 4px;
        font-size: 0.6rem;
    }

    footer span {
        border-radius: 6px;
        background: #eee;
        color: #444;
        font-size: 0.6rem;
        font-weight: 500;
        padding: 0.2rem 0.6rem;
    }

    .github-code-link {
        margin-left: 5px;
    }

    @keyframes flicker {
        0% {
            opacity: 1;
        }

        50% {
            opacity: 0.25;
        }

        100% {
            opacity: 1;
        }
    }

    @media (width <=700px) {
        ul {
            margin-inline: 0px;
        }

        article {
            border: none;
            box-shadow: 0 1px 1px #f2f2f2;
            padding: 0 0 16px 0;
        }
    }

    @media print {
        article h3 span {
            animation-name: none;
        }
    }
}